h4,
h5 {
  font-family: $brand-font;
  color: $brand-white;
  margin: 0;
}

h1 {
  font-family: $brand-font;
  color: $brand-white;
  font-weight: bold;
  font-size: 50px;
}

h2 {
  font-family: $brand-font;
  color: $brand-green;
  font-weight: bold;
  font-size: 24px;
}

h3 {
  font-family: $brand-font;
  color: $brand-white;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.69px;
  letter-spacing: 0.02em;
  text-align: left;
}


a {
  font-family: $brand-font;
  color: $brand-white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

p {
  font-family: $brand-font;
  color: $brand-white;
  font-weight: regular;
  font-size: 16px;
}

ul {
  color: $brand-white;
  list-style-type: none;
}

.info__body {
  font-family: $brand-font;
  color: $brand-white;
  font-weight: regular;
  font-size: 24px;
}

.column__item__p {
  font-family: $brand-font;
  color: $brand-green;
  font-weight: 500;
  font-size: 24px;
}

.options__item__h2 {
  font-family: $brand-font;
  color: $brand-blue;
  font-weight: bold;
  font-size: 24px;
}


body {
  background-color: $brand-gray;
  margin: 0;
}

button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: $brand-font;
  font-weight: 600;
}

.text__second__body4 {
  font-family: $brand-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;

}

.news__date__p {
  font-family: $brand-font;
  color: $brand-light-gray;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
}

.news__header__p {
  font-family: $brand-font;
  color: $brand-white;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.24px;
  text-align: left;
  margin-top: 0px;
}


.news__text__p {
  font-family: $brand-font;
  color: $brand-white;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
}

.news__header__accent__p {
  font-family: $brand-font;
  color: $brand-green;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.24px;
  text-align: left;
  margin-top: 0px;
}

.footer__text__p {
  font-family: $brand-font;
  color: $brand-white;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
}

.footer__rights__p {
  font-family: $brand-font;
  color: $brand-light-gray;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
}