h2,
h3,
h4,
h5 {
  font-family: $brand-font;
  color: $brand-white;
  margin: 0;
}

h1 {
  font-family: $brand-font;
  color: $brand-white;
  font-weight: bold;
  font-size: 50px;
}

a {
  font-family: $brand-font;
  color: $brand-white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

p {
  font-family: $brand-font;
  color: $brand-white;
  margin: 0;
}

ul {
  color: $brand-white;
  list-style-type: none;
}

.info__body {
  font-family: $brand-font;
  color: $brand-white;
  font-weight: regular;
  font-size: 24px;
}

body {
  background-color: $brand-gray;
}