@import './variables';

@mixin grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* 12-column grid */
  column-gap: 30px;
  padding: 0 120px;
  /* Default padding for tablet, desktop, widescreen, fullhd */

}

@mixin menu-nav {
  .menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-inline-start: 0px;

    &__item {

      a {
        text-decoration: none;
        position: relative;
      }

      a:hover {
        cursor: url('/vectors/cursor.svg'), pointer !important;
      }

      &.active>a::after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $brand-green;

      }


      a::after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 0;
        background-color: $brand-white;
      }


      a:hover::after {
        height: 3px;
      }


      &.active>a {
        color: $brand-green;
      }

    }

  }

}