$brand-green: #00FFA3;
$brand-white: #FFFFFF;
$brand-blue: #000AFF;
$brand-gray: #131516;
$brand-black: #000000;

$brand-font: 'Noto Sans';

$tablet: 769px;
$desktop: 960px;
$widescreen: 1200px;
$fullhd: 1430px;