@import 'settings/settings', 'index', 'globals';  

.home_page {
  display: inline-grid;
  gap: 6rem;

  .header {
    @include grid;
    height: 100px;
    position: absolute;
    right: 0px;
    left: 0px;
    transition: background-color 0.5s ease;
    z-index: 10;

    &--visible {
      top: 0;
      /* Show the header */
      /* Add smooth transition effect */
      background-color: rgba($brand-black, 0.8);
      transition: top 0.1s;
      position: fixed;

    }

    &--hidden {
      top: -100px;
      /* Hide the header */
      /* Add smooth transition effect */
      background-color: rgba($brand-black, 0.8);
      transition: top 0.1s;
      position: fixed;
    }



    .logo {
      grid-column: 1 / 5;
      width: 220px;
      /* Specify width */
      height: 100%;
      /* Take up full height of the header */
      display: flex;
      /* Use flexbox */
      justify-content: center;
      /* Center horizontally */
      align-items: center;
      /* Center vertically */
    }

    .nav {
      grid-column: 5 / 13;
      /* Menu-nav spans from 5th to 12th column */
      display: inline-flex;
      align-items: center;
      justify-content: space-between;

      .menu-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-inline-start: 0px;

        &__item {

          /* Define styles for the link */
          a {
            text-decoration: none;
            /* Remove default underline */
            position: relative;
            /* Position relative to create space for the underline */
          }

          /* Define styles for the underline */
          a::after {
            content: '';
            /* Create a pseudo-element */
            position: absolute;
            /* Position the underline */
            bottom: -3px;
            /* Align the underline to the bottom of the link */
            left: 0;
            /* Align the underline to the start of the link */
            width: 100%;
            /* Make the underline cover the entire width of the link */
            height: 0;
            /* Set initial height to 0 */
            background-color: $brand-white;
            /* Set color of the underline */

          }

          /* Define hover styles to increase height of underline */
          a:hover::after {
            height: 3px;
            /* Increase height of underline on hover */
          }


          &.active>a {
            color: $brand-green;
          }

        }

      }
    }
  }


  .main {
    display: inline-grid;
    margin-top: 10rem;
    gap: 10rem;

    .info {
      @include grid;

      &__h1 {
        display: flex;
        grid-column: 1 / 8;
      }

      &__body {
        display: flex;
        grid-column: 1 / -1;
        padding-inline-start: 0px;
        gap: 30px;

      }
    }

    .tiles {
      @include grid;

      .column1,
      .column2 {
        display: grid;
        grid-template-rows: repeat(2, 100px);
        /* Adjust grid-column as needed */
        gap: 30px;
      }

      .column1 {
        grid-column: 1 / 6;
      }

      .column2 {
        grid-column: 7 / 12;
      }

      .column__item {
        display: flex;
        align-items: center;
        /* Center vertically */
        background-color: rgba($brand-white, 0.1);
        border-left: 3px solid $brand-green;
      }

      .column__item__p {
        margin-left: 7%;
        margin-right: 20%;
      }
    }

    .options {
      @include grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 15px;

      &__item {
        display: grid;

        .arrow {
          align-self: flex-end;
          margin-bottom: 0.8rem;
        }

        .button {
          align-self: flex-end;
          background-color: $brand-gray;
          border: 2px solid $brand-white;
          color: $brand-white;

          &:hover {
            color: $brand-green;
            border: 2px solid $brand-green;
          }
        }
      }
    }

    .projects {
      display: inline-grid;
      gap: 30px;
      .vectors {
        @include grid;

      }
      .swiper {
        display: grid;
        .swiper-wrapper {
          min-width: 0;
          .swiper-slide:first-child {
            margin-left: 6rem;
          }
          .swiper-slide:last-child {
            margin-right: 6rem;
          }
        }
      }
    }
    
    
    .text {
      @include grid;

      &__first {
        display: flex;
        grid-column: 1 / 5;
      }

      &__second {
        display: flex;
        grid-column: 6 / 12;
      }

    }




    // .projects {
    //   display: grid;
    //   grid-template-rows: repeat(2, 1fr);
    //   gap: 30px;
    //   &__items {
    //     display: grid;
    //     grid-template-columns: repeat(8, 1fr);
    //     gap: 30px;
    //   }
    // }
  }
}