@import 'settings/settings', 'index', 'globals';

.home_page {
  display: inline-grid;
  gap: 6rem;
  background-image: url('/background/pixels-1.svg'), 
                    url('/background/pixels-2.svg'), 
                    url('/background/pixels-3.svg'),
                    url('/background/pixels-4.svg'),
                    url('/background/pixels-5.svg'),
                    url('/background/pixels-6.svg'),
                    url('/background/blob-1.webp'), 
                    url('/background/blob-2.webp');
  background-repeat: no-repeat;
  background-position: top right, top 14% left, top 69% left 35%, top 80% right, top 90% left, bottom left 60% ,top 4% left 30%, top 71% right;

  .header {
    @include grid;
    height: 100px;
    position: absolute;
    right: 0px;
    left: 0px;
    transition: background-color 0.5s ease;
    z-index: 10;

    &--visible {
      top: 0;
      background-color: rgba($brand-black, 0.8);
      transition: top 0.1s;
      position: fixed;

    }

    &--hidden {
      top: -100px;
      background-color: rgba($brand-black, 0.8);
      transition: top 0.1s;
      position: fixed;
    }



    .logo {
      grid-column: 1 / 5;
      width: 220px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .nav {
      grid-column: 5 / 13;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      @include menu-nav;
    }
  }


  .main {
    display: inline-grid;
    margin-top: 10rem;
    gap: 10rem;

    .info {
      @include grid;

      &__h1 {
        display: flex;
        grid-column: 1 / 8;
      }

      &__body {
        display: flex;
        grid-column: 1 / -1;
        padding-inline-start: 0px;
        gap: 30px;

      }
    }

    .tiles {
      @include grid;

      .column1,
      .column2 {
        display: grid;
        grid-template-rows: repeat(2, 100px);
        gap: 30px;
      }

      .column1 {
        grid-column: 1 / 6;
      }

      .column2 {
        grid-column: 7 / 12;
      }

      .column__item {
        display: flex;
        align-items: center;
        background-color: rgba($brand-white, 0.1);
        border-left: 3px solid $brand-green;
      }

      .column__item__p {
        margin-left: 7%;
        margin-right: 20%;
      }

      &::after {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% + 80px);
      }

    }

    .options {
      background-color: rgba($brand-black, 0.2);

      position: relative;
      @include grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 15px;

      &::before {
        content: "";
        position: absolute;
        top: -40px;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: rgba($brand-black, 0.2);
        z-index: -1;
      }

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: rgba($brand-black, 0.2);
        z-index: -1;
      }


      &__item {
        display: grid;

        .arrow {
          align-self: flex-end;
          margin-bottom: 0.8rem;
        }

        .button {
          align-self: flex-end;
          background-color: $brand-gray;
          border: 2px solid $brand-white;
          color: $brand-white;

          &:hover {
            color: $brand-green;
            border: 2px solid $brand-green;
          }
        }
      }
    }


    .projects {
      height: 200vh;
      display: inline-grid;
      gap: 30px;

      .content {
        position: sticky;
        top: 15vh;
        height: fit-content;

        .vectors {
          @include grid;
          margin-bottom: 60px;
          justify-content: center;
          align-items: center;

          .progress_container {
            display: flex;
            grid-column: 5 / -1;

            .swiper-scrollbar {

              .swiper-scrollbar-drag {
                position: absolute;
                left: 0;
                top: 0;
                border: 2px solid $brand-blue;
                width: 20px !important;
                height: 20px;
                background-color: $brand-black;
                border-radius: 0;
                cursor: move;
              }

              .swiper-scrollbar-drag::before {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
                width: 30px;
                height: 2px;
                background-color: #000aff;
              }

              width: 100%;
              height: 24px;
              background-color: $brand-black;
              position: relative;
              border-radius: var(--swiper-scrollbar-border-radius, 0);
            }
          }

        }

        .projects {
          height: fit-content;
        }

        .swiper {
          display: grid;

          .swiper-wrapper {
            min-width: 0;
          }

          .swiper-container {
            width: 100%;
            height: 100%;
          }

          .swiper-slide {
            width: auto;

            .projects__items__item__p {
              display: flex;
              width: 80%;
            }

            .projects__items__item__image {
              filter: grayscale(0%);
              transition: filter .35s;
            }

            &:hover {
              .projects__items__item__image {
                filter: grayscale(0%);
              }

              .projects__items__item__p {
                color: $brand-blue;
              }
            }

            &--gray {
              .projects__items__item__image {
                filter: grayscale(100%) blur(3px);
                transition: filter .35s;
              }
            }
          }
        }
      }
    }


    .text {
      @include grid;

      &__first {
        display: flex;
        grid-column: 1 / 5;
      }

      &__second {
        display: flex;
        grid-column: 6 / 12;
      }
    }

    .gallery {
      display: flex;
      gap: 30px;

      &__current-preview {
        width: 60rem;
        height: 60rem;
        position: relative;
        z-index: 2;
        flex: none;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

        }

      }

      &__content {
        display: flex;
      }

      &__navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &__btn {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-left: 6rem;

        img {
          width: 40px;
          height: 40px;
        }
      }

      &__container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }

      &__previews {
        width: 380px;
        height: 380px;
        position: relative;
        z-index: 2;
        flex: none;
      }

      &__logo {
        transform: translate(-5%, -290%) rotate(-90deg);
      }

      &__preview {
        position: absolute;
        width: 20%;
        height: 20%;
        object-fit: cover;
        display: block;

        &--1 {
          left: 20%;
          top: calc(20% + 20%);
        }

        &--2 {
          left: calc(20% + 20%);
          top: calc(20% + 20%);
        }

        &--3 {
          left: calc(20% + 20% + 20%);
          top: calc(20% + 20% + 20%);
        }

        &--4 {
          left: calc(20% + 20% + 20% + 20%);
          top: 20%;
        }

        &--5 {
          left: 0;
          top: 0;
        }

        &--6 {
          left: 20%;
          top: calc(20% + 20% + 20% + 20%);
        }
      }

      &__preview--active {
        outline: 4px solid $brand-green;
        outline-offset: -4px;

      }
    }

    .news {

      @include grid;

      .vectors {
        display: flex;
      }

      &__first {
        display: inline-grid;
        grid-column: 1 / 5;
      }

      &__second {
        display: inline-grid;
        grid-column: 5 / 9;
      }

      &__third {
        display: inline-grid;
        grid-column: 9 / -1;
      }
    }

    .footer {
      padding-bottom: 120px;

      &__top {
        align-items: center;

        &__square {
          grid-column: 1 / 2;
          display: flex;
          width: 20px;
          height: 20px;
          border: 2px solid $brand-white;
          position: relative;
          flex: none;
        }

        &__square::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
          width: 30px;
          height: 2px;
          background-color: $brand-white;
        }

        @include grid;

        .nav {
          display: flex;
          gap: 30px;
          grid-column: 2 / 8;
          @include menu-nav;
        }

        &__social {
          display: flex;
          align-items: center;
          gap: 30px;
          grid-column: -1 / -3;
        }
      }

      &__buttom {
        @include grid;

        &__text {
          display: flex;
          gap: 30px;
          grid-column: 2 / 7;
        }

        &__rights {
          margin-left: 2rem;
          display: flex;
          gap: 30px;
          grid-column: -1 / -5;
        }
      }
    }
  }
}